<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
	</head>

	<body style="padding-top: 50px">
		<% include ../partials/header.ejs %>
		<div class="container">
			<h1 style="text-align: center">Make/Edit a Class</h1>
			<p>
				Enter your information below or select a class to edit it.
			</p>

		</div> <!--./container-->
	</body>
</html>




