<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
	</head>
		<% include ../partials/header.ejs %>

	<body style="padding-top: 50px">
		<div class="header">
 			<div class="inline-block" id="logo" >Lecture.io</div>
 			 	<a   href="/auth/google" style="float: right; margin-right: 60px;margin-top:20px;color: #205081;" >Sign Up or Sign In Using Google</a>

 		</div>
 		<h1>this is lecture.io</h1>
 		
<!-- 
		<% include ../partials/header.ejs %>
 -->
		<!-- 
<div class="container">
			<h1 style="text-align: center">Welcome to Your Dashboard</h1>
			<h3 style="text-align: center">
				The open source alternative to iClicker
			</h3>

		</div> <!~~./container~~>
 -->
	</body>
</html>



