<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
	</head>

	<body style="padding-top: 50px">
		<% include ../partials/header.ejs %>
		<div class="container">
			<h1 style="text-align: center">Welcome to Your Dashboard</h1>
			<h3 style="text-align: center">
				The open source alternative to iClicker
			</h3>

		</div> <!--./container-->
	</body>
</html>



